{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<section id="login">
		<nav>
			<div class="onglets">
				<a href="{{ path('app_homepage') }}">Accueil</a>
				<a href="{{ path('app_articles') }}">liste des articles</a>
				<a href="">Testez vos connaissances</a>
				<a href="{{ path('app_forum') }}">Communauté</a>
				<a href="">S'inscrire</a>
				<a href="{{ path('app_login') }}">Se connecter</a>
			</div>
		</nav>

		<div class="container">
			<div class="background">
				<img src="{{ asset('images/parcho-left.png') }}" alt="">
				<img src="{{ asset('images/parcho-right.png') }}" alt="">
				<div class="parchemin">
					<div class="formulaire">
						<form method="post">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							{% if app.user %}
								<div class="mb-3">
									Vous êtes maintenant connecté
									{{ app.user.pseudonym|default('') }}
									<a href="{{ path('app_logout') }}">Logout</a>
								</div>
							{% endif %}

							<h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
							<label for="inputEmail">Email</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
							<label for="inputPassword">Mot de passe</label>
							<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

							<label>
								<input type="checkbox" name="_remember_me">
								Se souvenir de moi
							</label>

							<button class="btn btn-lg btn-primary" type="submit">
								Se connecter
							</button>
						</form>
					</div>
				</div>
			</div>
			<div></section>
		{% endblock %}
