{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe
{% endblock %}

{% block body %}
	<section id="login">
		<nav>
			<div class="menu-btn">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
			<div class="onglets">
				<a href="{{ path('app_homepage') }}">Accueil</a>
				<a href="{{ path('app_articles') }}">liste des articles</a>
				<a href="{{ path('app_quiz') }}">Testez vos connaissances</a>
				<a href="{{ path('app_forum') }}">Communauté</a>
				<a href="{{ path('app_register') }}">S'inscrire</a>
				<a href="{{ path('app_login') }}">Se connecter</a>
			</div>
		</nav>

		<div class="container">
			<div class="background">
				<img src="{{ asset('uploads/images/parcho-left.png') }}" alt="">
				<img src="{{ asset('uploads/images/parcho-right.png') }}" alt="">
				<div class="parchemin">
					<div class="formulaire">
						<form method="post">
							<h1 class="h3 mb-3 font-weight-normal">Réinitialiser votre mot de passe</h1>
							{{form_start(passForm)}}
							{{form_row(passForm.password)}}
							<button type="submit" class="btn btn-lg btn-primary">Envoyer</button>
							{{form_end(passForm)}}
						</form>
					</div>
				</div>
			</div>
			<div></section>
		{% endblock %}
