{% extends 'base.html.twig' %}

{% block title %}Article unique
{% endblock %}

{% block body %}
	<script src="{{ asset('js/script.js') }}"></script>
	<div class="page_background_article">
		<img src="{{ asset('/uploads/images/the_witcher_article.jpg') }}" alt="">
	</div>

	<section id="article_unique">
		<div class="head">
			<nav>
				<div class="menu-btn">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</div>
				<div class="onglets">
					<strong>
						<a href="{{ path('app_homepage') }}">
							<p>Accueil</p>
						</a>
					</strong>
					<strong>
						<a href="{{ path('app_articles') }}">
							<p>liste des articles</p>
						</a>
					</strong>
					<strong>
						<a href="">
							<p>Testez vos connaissances</p>
						</a>
					</strong>
					<strong>
						<a href="{{ path('app_forum') }}">
							<p>Communauté</p>
						</a>
					</strong>
					<strong>
						<a href="{{ path('app_register') }}">
							<p>S'inscrire</p>
						</a>
					</strong>
					<strong>
						<a href="{{ path('app_login') }}">
							<p>Se connecter</p>
						</a>
					</strong>
					<strong>
						{% if app.user %}
							<a href="{{ path('app_user') }}">
								<p>Mon compte</p>
							</a>
						{% endif %}
					</strong>
				</div>
			</nav>
		</div>

		<div class="container">
			<div class="contenu">
				<div class="corps">
					<img src="{{ asset('uploads/images/' ~ article.image) }}" alt="miniature">
					<h1>{{ article.title }}</h1>
					<p>{{ article.contenu|raw }}</p>
					<p class="date">{{ article.date|date("d/m/Y") }}</p>

				</div>

				<hr>

				{% if commentaireForm is not null %}
					<div class="formulaire">
						{{ form_start(commentaireForm) }}
						{{ form_row(commentaireForm.contenu) }}
						<button type="submit" class="btn">Publier votre commentaire</button>
						{{ form_end(commentaireForm) }}
					</div>
				{% else %}
					<span style="color: white;">
						<p class="connect">Vous devez être connecté pour poster un commentaire.
							<a href="{{ path('app_login') }}">Se connecter</a>
						</p>
					</span>
				{% endif %}

				<hr>

				<div class="commentaires">
					{% for commentaire in commentaires %}
						<div class="text">
							<p>
								<strong>@{{ commentaire.user.pseudonym }}</strong>
								-
								{{ commentaire.date|date("d/m/Y") }}</p>
							<p>{{ commentaire.contenu|nl2br }}</p>
						</div>
					{% else %}
						<p>Aucun commentaire pour cet article.</p>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>{% endblock %}
