{% extends 'base.html.twig' %}

{% block title %}Articles
{% endblock %}

{% block body %}
	<script src="{{ asset('js/script.js') }}"></script>
	<div class="page__background">
		<img src="{{ asset('images/the_witcher_article.jpg') }}" alt="">
	</div>

	<section class="page_content">
		<div class="head">
			<nav>
				<div class="menu-btn">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</div>
				<div class="onglets">
					<a href="{{ path('app_homepage') }}">Accueil</a>
					<a href="">liste des articles</a>
					<a href="">Testez vos connaissances</a>
					<a href="">Communauté</a>
					<a href="">S'inscrire</a>
					<a href="">Se connecter</a>
					<a href="{{ path('app_user') }}"><img src="{{ asset('images/user.png') }}" alt="Symfony"></a>
				</div>
			</nav>
		</div>

	</section>
{% endblock %}
