{% extends 'base.html.twig' %}

{% block title %}Article unique
{% endblock %}

{% block body %}
	<script src="{{ asset('js/script.js') }}"></script>
	<div class="page_background_article">
		<img src="{{ asset('images/the_witcher_article.jpg') }}" alt="">
	</div>

	<section id="article_unique">
		<div class="head">
			<nav>
				<div class="menu-btn">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</div>
				<div class="onglets">
					<strong>
						<a href="{{ path('app_homepage') }}">
							<p>Accueil</p>
						</a>
					</strong>
					<strong>
						<a href="{{ path('app_articles') }}">
							<p>liste des articles</p>
						</a>
					</strong>
					<strong>
						<a href="">
							<p>Testez vos connaissances</p>
						</a>
					</strong>
					<strong>
						<a href="{{ path('app_forum') }}">
							<p>Communauté</p>
						</a>
					</strong>
					<strong>
						<a href="{{ path('app_register') }}">
							<p>S'inscrire</p>
						</a>
					</strong>
					<strong>
						<a href="{{ path('app_login') }}">
							<p>Se connecter</p>
						</a>
					</strong>
					<strong>
						<a href="{{ path('app_user') }}">
							<p>Mon compte</p>
						</a>
					</strong>
				</div>
			</nav>
		</div>

		<div class="container">
			<div class="contenu">
				<div class="corps">
					<img src="{{ asset('images/article.png') }}" alt="miniature">
					<h1>Voici un titre</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum ante et nunc convallis, quis interdum tortor pulvinar. Proin tincidunt metus eu placerat faucibus. Morbi scelerisque vestibulum tempor. Nulla mi purus, condimentum vitae dapibus ac, volutpat nec ipsum. Vestibulum eget faucibus purus. Sed sagittis, dolor non fringilla posuere, tellus tellus vestibulum augue, eget condimentum ligula metus sed lectus. Integer lobortis tempus nisl ac vehicula.
																																																																																																																														
																																																																																																																														Maecenas pretium commodo euismod. Nulla dui massa, luctus in ullamcorper ac, consequat et enim. Etiam nec vulputate erat, id pharetra massa. Quisque luctus sed augue sit amet porttitor. Sed pellentesque purus at leo posuere tempus. Fusce et mauris id purus placerat efficitur ac eu lacus. Aliquam et porta urna, sed cursus justo. Quisque accumsan, justo et hendrerit iaculis, justo est tincidunt dolor, sed porta dui massa vitae purus. Aenean ante quam, sollicitudin sit amet congue sed, posuere a eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus vitae metus accumsan, ultrices ligula congue, finibus massa. Phasellus tristique, orci at congue porttitor, justo leo feugiat leo, iaculis ultrices nisi lorem nec nulla. Cras rutrum ut lorem eget consectetur. Curabitur id nisl non libero rutrum suscipit quis sed arcu. Nullam lorem justo, ullamcorper ut sem a, lobortis fermentum nibh.
																																																																																																																														
																																																																																																																														Curabitur nulla dui, facilisis ut urna non, commodo hendrerit purus. Morbi consectetur nibh nisi, vel semper turpis volutpat a. In sagittis risus in dignissim commodo. Duis id enim magna. Duis ultricies est eget mi vestibulum, vitae bibendum nunc gravida. Nullam augue libero, malesuada sed finibus in, scelerisque egestas sapien. Aliquam erat volutpat.
																																																																																																																														
																																																																																																																														Ut metus lorem, feugiat non felis ac, condimentum feugiat sem. In ut consequat metus. Nulla tempus ullamcorper sodales. Suspendisse sit amet egestas diam. Aliquam vitae diam mauris. Vestibulum vestibulum non nisl a placerat. Nullam accumsan in sapien quis porta. Nam ut ante vel risus mollis viverra eu non elit. Fusce ut purus libero. Morbi lacinia ligula vel interdum cursus. Morbi mattis ligula non risus egestas, quis fermentum dolor posuere. Praesent ut tellus nibh. Nullam feugiat aliquet urna, sit amet maximus nisl rhoncus vel. Pellentesque varius eu lectus id iaculis.
																																																																																																																														
																																																																																																																														In sed tempus dui, non congue enim. Etiam et enim hendrerit, semper est convallis, feugiat neque. Morbi vel mauris ex. Vivamus a arcu sed lectus venenatis scelerisque a quis dui. Nulla eget mi in ligula maximus finibus. Cras lacinia eu sapien at porta. Nullam placerat libero sit amet nibh eleifend varius. Quisque posuere felis justo, vel blandit eros efficitur vitae. Fusce non posuere nulla, efficitur facilisis sapien. Morbi eu dui in enim ultricies venenatis ultricies vitae urna. Sed elementum nibh eu quam venenatis ultrices. Suspendisse sagittis purus in lectus rhoncus ultricies.
					</p>
					<p class="date">Date de publication</p>

				</div>

				<hr>

				<div class="formulaire">
					<h2>Votre commentaire :</h2>
					<form method="post">

						{{ form_errors(commentaireForm) }}

						{{ form_start(commentaireForm) }}
						{{ form_row(commentaireForm.contenu) }}

						<button type="submit" class="btn">Publier votre commentaire</button>
						{{ form_end(commentaireForm) }}
					</form>
				</div>

				<hr>

				<div class="commentaires">
					<div class="text">
						<p>
							<I>
								<strong>@Pseudo</strong>
								- date de publication</p>
						</p>
					</i>
					<p>Super article !</p>
				</div>

				<div class="text">
					<p>
						<I>
							<strong>@Pseudo</strong>
							- date de publication</p>
					</p>
				</i>
				<p>Super article !</p>
			</div>

			<div class="text">
				<p>
					<I>
						<strong>@Pseudo</strong>
						- date de publication</p>
				</p>
			</i>
			<p>Super article !</p>
		</div>

		<div class="text">
			<p>
				<I>
					<strong>@Pseudo</strong>
					- date de publication</p>
			</p>
		</i>
		<p>Super article !</p>
	</div>
</div></div></div></section>{% endblock %}
