{% extends 'base.html.twig' %}

{% block title %}Article unique
{% endblock %}

{% block body %}
	<script src="{{ asset('js/script.js') }}"></script>
	<div class="page_background_article">
		<img src="{{ asset('images/the_witcher_article.jpg') }}" alt="">
	</div>

	<section id="article_unique">
		<div class="head">
			<nav>
				<div class="menu-btn">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</div>
				<div class="onglets">
					<strong>
						<a href="{{ path('app_homepage') }}">
							<p>Accueil</p>
						</a>
					</strong>
					<strong>
						<a href="{{ path('app_articles') }}">
							<p>liste des articles</p>
						</a>
					</strong>
					<strong>
						<a href="">
							<p>Testez vos connaissances</p>
						</a>
					</strong>
					<strong>
						<a href="{{ path('app_forum') }}">
							<p>Communauté</p>
						</a>
					</strong>
					<strong>
						<a href="{{ path('app_register') }}">
							<p>S'inscrire</p>
						</a>
					</strong>
					<strong>
						<a href="{{ path('app_login') }}">
							<p>Se connecter</p>
						</a>
					</strong>
					<strong>
						{% if app.user %}
							<a href="{{ path('app_user') }}">
								<p>Mon compte</p>
							</a>
						{% endif %}
					</strong>
				</div>
			</nav>
		</div>

		<div class="container">
			<div class="contenu">
				<div class="corps">
					<img src="{{ asset('uploads/images/' ~ article.image) }}" alt="miniature">
					<h1>{{ article.title }}</h1>
					<p>{{ article.contenu }}</p>
					<p class="date">{{ article.date|date("d/m/Y") }}</p>

				</div>

				<hr>

				<div class="formulaire">
					<h2>Votre commentaire :</h2>
					<form method="post">

						{{ form_errors(commentaireForm) }}

						{{ form_start(commentaireForm) }}
						{{ form_row(commentaireForm.contenu) }}

						<button type="submit" class="btn">Publier votre commentaire</button>
						{{ form_end(commentaireForm) }}
					</form>
				</div>

				<hr>

				<div class="commentaires">
					<div class="text">
						<p>
							<I>
								<strong>@Pseudo</strong>
								- date de publication</p>
						</p>
					</i>
					<p>Super article !</p>
				</div>

				<div class="text">
					<p>
						<I>
							<strong>@Pseudo</strong>
							- date de publication</p>
					</p>
				</i>
				<p>Super article !</p>
			</div>

			<div class="text">
				<p>
					<I>
						<strong>@Pseudo</strong>
						- date de publication</p>
				</p>
			</i>
			<p>Super article !</p>
		</div>

		<div class="text">
			<p>
				<I>
					<strong>@Pseudo</strong>
					- date de publication</p>
			</p>
		</i>
		<p>Super article !</p>
	</div>
</div></div></div></section>{% endblock %}
