{% extends 'base.html.twig' %}

{% block title %}Question
{% endblock %}

{% block body %}
	<div class="page_background_question">
		<img src="{{ asset('uploads/images/forum_background.webp') }}" alt="background_image">
	</div>
	<section id="question">
		<div class="header">
			<nav>
				<div class="menu-btn">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</div>
				<div class="onglets">
					<a href="{{ path('app_homepage') }}">Accueil</a>
					<a href="{{ path('app_articles') }}">liste des articles</a>
					<a href="{{ path('app_quiz') }}">Testez vos connaissances</a>
					<a href="{{ path('app_forum') }}">Communauté</a>
					{% if not app.user %}
						<a href="{{ path('app_register') }}">S'inscrire</a>
						<a href="{{ path('app_login') }}">Se connecter</a>
					{% endif %}

					<div class="user">
						{% if app.user %}
							<a href="{{ path('app_user') }}"><img src="{{ asset('uploads/images/user.webp') }}" alt="Profil utilisateur"></a>
							<p>{{ app.user.pseudonym|default('') }}</p>
						{% endif %}
					</div>
				</div>
			</nav>
		</div>

		<div class="body">
			<div class="container">
				<div class="contenu">
					<form method="post">

						{{ form_errors(questionForm) }}

						{{ form_start(questionForm) }}
						{{ form_row(questionForm.title, {
                           label: 'Titre de votre sujet'
                        }) }}
						{{ form_row(questionForm.contenu, {
                            label: 'Contenu de votre sujet'
                        }) }}

						<button type="submit" class="btn">Créer un sujet</button>
						{{ form_end(questionForm) }}
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
