{% extends 'base.html.twig' %}

{% block title %}Réponse
{% endblock %}

{% block body %}
	<section id="answer">
		<div class="header">
			<nav>
				<div class="menu-btn">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</div>
				<div class="onglets">
					<a href="{{ path('app_homepage') }}">Accueil</a>
					<a href="{{ path('app_articles') }}">liste des articles</a>
					<a href="">Testez vos connaissances</a>
					<a href="{{ path('app_forum') }}">Communauté</a>
					<a href="{{ path('app_register') }}">S'inscrire</a>
					<a href="{{ path('app_login') }}">Se connecter</a>
					{% if app.user %}
						<a href="{{ path('app_user') }}"><img src="{{ asset('uploads/images/user.png') }}" alt="Profil utilisateur"></a>
					{% endif %}
				</div>
			</nav>
		</div>

		<div class="body">
			<div class="container">
				<div class="contenu">
					<div class="question">
						<div class="left">
							<p>{{ question.user.pseudonym }}</p>
							<img src="{{ asset('uploads/images/user.png') }}" alt="Symfony">
						</div>

						<div class="right">
							<div class="title">
								<h2>{{ question.title }}</h2>
							</div>
							<div class="corps">
								<div class="date">
									<p>{{ question.date|date("d/m/Y") }}</p>
								</div>
								<div class="text">
									<p>{{ question.contenu|nl2br }}</p>
								</div>
								<div class="bouton">
									<a class="edit" href="{{ path('app_question_edit', {'id': question.id}) }}">
										<span style="color: #0368FF;">Modifier ma question</span>
									</a>

									<a href="">
										<span style="color: red;">Supprimer ma question</span>
									</a>

								</div>
							</div>
						</div>
					</div>

					<hr>

					<div class="réponse">
						<div class="left">
							<p>pseudo</p>
							<a href="{{ path('app_user') }}"><img src="{{ asset('uploads/images/user.png') }}" alt="Symfony"></a>
						</div>

						<div class="right">
							<div class="corps">
								<div class="date">
									<p>date de publication</p>
								</div>
								<div class="text">
									<p>contenu de la question</p>
								</div>
								<div class="bouton">
									<button>
										<span style="color: #0368FF;">Modifier ma réponse</span>
									</button>

									<button>
										<span style="color: red;">Supprimer ma réponse</span>
									</button>

								</div>
							</div>
						</div>
					</div>

					<div class="réponse">
						<div class="left">
							<p>pseudo</p>
							<a href="{{ path('app_user') }}"><img src="{{ asset('uploads/images/user.png') }}" alt="Symfony"></a>
						</div>

						<div class="right">
							<div class="corps">
								<div class="date">
									<p>date de publication</p>
								</div>
								<div class="text">
									<p>contenu de la question</p>
								</div>
								<div class="bouton">
									<button>
										<span style="color: #0368FF;">Modifier ma réponse</span>
									</button>

									<button>
										<span style="color: red;">Supprimer ma réponse</span>
									</button>

								</div>
							</div>
						</div>
					</div>

					<hr>

					<div class="formulaire">
						<h2>Votre réponse :</h2>
						<form method="post">

							{{ form_errors(answerForm) }}

							{{ form_start(answerForm) }}
							{{ form_row(answerForm.contenu) }}

							<button type="submit" class="btn">Envoyer la réponse</button>
							{{ form_end(answerForm) }}
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
