{% extends 'base.html.twig' %}

{% block title %}
	{{ question.title }}
{% endblock %}

{% block body %}
	<div class="page_background_réponse">
		<img src="{{ asset('uploads/images/forum_background.webp') }}" alt="background_image">
	</div>
	<section id="answer">
		<div class="header">
			<nav>
				<div class="menu-btn">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</div>
				<div class="onglets">
					<a href="{{ path('app_homepage') }}">Accueil</a>
					<a href="{{ path('app_articles') }}">Liste des articles</a>
					<a href="{{ path('app_quiz') }}">Testez vos connaissances</a>
					<a href="{{ path('app_forum') }}">Communauté</a>
					{% if not app.user %}
						<a href="{{ path('app_register') }}">S'inscrire</a>
						<a href="{{ path('app_login') }}">Se connecter</a>
					{% endif %}

					<div class="user">
						{% if app.user %}
							<a href="{{ path('app_user') }}"><img src="{{ asset('uploads/images/user.webp') }}" alt="Profil utilisateur"></a>
							<p>{{ app.user.pseudonym|default('') }}</p>
						{% endif %}
					</div>
				</div>
			</nav>
		</div>

		<div class="body">
			<div class="container">
				<div class="contenu">
					<div class="question">
						<div class="left">
							<p>{{ question.user.pseudonym }}</p>
							<img src="{{ asset('uploads/images/user.webp') }}" alt="icone-utilisateur">
						</div>

						<div class="right">
							<div class="title">
								<h2>{{ question.title }}</h2>
							</div>
							<div class="corps">
								<div class="date">
									<p>{{ question.date|date("d/m/Y") }}</p>
								</div>
								<div class="text">
									<p>{{ question.contenu|nl2br }}</p>
								</div>
								{% if app.user and app.user == question.user %}
									<div class="bouton">
										<a class="edit" href="{{ path('app_question_edit', {'id': question.id}) }}">
											<span style="color: #0368FF;">Modifier ma question</span>
										</a>

										<a class="delete" href="{{ path('app_question_delete', {'id': question.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette question ?');">
											<span style="color: red;">Supprimer ma question</span>
										</a>
									</div>
								{% endif %}
							</div>
						</div>
					</div>

					<hr>

					{% for answer in answers %}
						<div class="réponse">
							<div class="left">
								<p>{{ answer.user.pseudonym }}</p>
								<img src="{{ asset('uploads/images/user.webp') }}" alt="icone-utilisateur">
							</div>

							<div class="right">
								<div class="corps">
									<div class="date">
										<p>{{ answer.date|date("d/m/Y") }}</p>
									</div>
									<div class="text">
										<p>{{ answer.contenu|nl2br }}</p>
									</div>
									{% if app.user and app.user == answer.user %}
										<div class="bouton">
											<a class="edit" href="{{ path('app_réponse_edit', {'id': answer.id}) }}">
												<span style="color: #0368FF;">Modifier ma réponse</span>
											</a>

											<a class="delete" href="{{ path('app_réponse_delete', {'id': answer.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette réponse ?');">
												<span style="color: red;">Supprimer ma réponse</span>
											</a>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}

					{% if answers is empty %}
						<span style="color: white; font-weight: bold; font-size: 18px;">
							<p>Aucune réponse pour cette question.</p>
						</span>
					{% endif %}

					<hr>

					{% if answerForm is not null %}
						<div id="réponses" class="formulaire">
							<h2>Votre réponse :</h2>
							<form method="post">

								{{ form_errors(answerForm) }}

								{{ form_start(answerForm) }}
								{{ form_row(answerForm.contenu) }}

								<button type="submit" class="btn">Envoyer la réponse</button>
								{{ form_end(answerForm) }}
							</form>
						</div>
					{% else %}
						<span style="color: white;">
							<p class="connect">Vous devez être connecté pour poster une réponse.
								<a href="{{ path('app_login') }}">Se connecter</a>
							</p>
						</span>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>{% endblock %}
