{% extends 'base.html.twig' %}

{% block title %}Edition utilisateur
{% endblock %}

{% block body %}

	<section id="userForm">
		<nav>
			<div class="menu-btn">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
			<div class="onglets">
				<a href="{{ path('app_homepage') }}">Accueil</a>
				<a href="{{ path('app_articles') }}">Liste des articles</a>
				<a href="{{ path('app_quiz') }}">Testez vos connaissances</a>
				<a href="{{ path('app_forum') }}">Communauté</a>
				<a href="{{ path('app_register') }}">S'inscrire</a>
				<a href="{{ path('app_login') }}">Se connecter</a>
			</div>
		</nav>

		<div class="container">
			<div class="background">
				<img src="{{ asset('uploads/images/parcho-left.webp') }}" alt="bordure-gauche">
				<img src="{{ asset('uploads/images/parcho-right.webp') }}" alt="bordure-droite">
				<div class="parchemin">
					<div class="formulaire">
						<form method="post">

							<h1 class="h3 mb-3 font-weight-normal">Modifier vos informations</h1>
							{{ form_errors(userForm) }}

							{{ form_start(userForm) }}
							{{ form_row(userForm.pseudonym, {
                            label: 'Nom'
                            }) }}
							{{ form_row(userForm.email, {
                            label: 'Email'
                            }) }}
							{{ form_row(userForm.plainPassword, {
                            label: 'Mot de passe'
                            }) }}

							<button type="submit" class="btn">Envoyer</button>
							{{ form_end(userForm) }}
						</form>
					</div>
				</div>
			</div>
			<div></section>

		{% endblock %}
