{% extends 'base.html.twig' %}

{% block title %}Page utilisateur
{% endblock %}

{% block body %}
	<div class="page_background_user">
		<img src="{{ asset('uploads/images/forum_background.webp') }}" alt="background_image">
	</div>
	<section id="user" class="user">
		<div class="head">
			<nav>
				<div class="menu-btn">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</div>
				<div class="onglets">
					<a href="{{ path('app_homepage') }}">Accueil</a>
					<a href="{{ path('app_articles') }}">liste des articles</a>
					<a href="{{ path('app_quiz') }}">Testez vos connaissances</a>
					<a href="{{ path('app_forum') }}">Communauté</a>
					{% if not app.user %}
						<a href="{{ path('app_register') }}">S'inscrire</a>
						<a href="{{ path('app_login') }}">Se connecter</a>
					{% endif %}

					<div class="user">
						{% if app.user %}
							<a href="{{ path('app_user') }}"><img src="{{ asset('uploads/images/user.webp') }}" alt="Profil utilisateur"></a>
							<p>{{ app.user.pseudonym|default('') }}</p>
						{% endif %}
					</div>
				</div>
			</nav>
		</div>

		<div class="body">
			<div class="container">
				<div class="contenu">
					<div class="infos">
						{% if app.user %}
							<div class="mb-3">
								<span style="color: green; font-weight: bold; font-size: 18px;">Vous êtes connecté
									{{ app.user.pseudonym|default('') }}, bien le bonjour !</span>
							</div>
						{% endif %}
						<div class="recap">
							<div class="img">
								<img src="{{ asset('uploads/images/user.webp') }}" alt="icone-utilisateur">
							</div>
							<div class="text">
								{% if app.user %}
									<p>{{ app.user.pseudonym|default('') }}</p>
									<p>{{ app.user.email|default('') }}</p>
								{% endif %}
							</div>
						</div>

						<div class="request">
							<a href="{{ path('user_edit') }}">
								<span style="color: #0368FF;">
									<p>Modifier les informations utilisateurs</p>
								</span>
							</a>
							<a href="{{ path('app_question') }}">
								<span style="color: #0368FF;">
									<p>Publier une question</p>
								</span>
							</a>
							<a href="{{ path('app_logout') }}">
								<span style="color: red;">
									<p>Se déconnecter</p>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
